services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init_ventas.sql:/docker-entrypoint-initdb.d/init_ventas.sql
      - ./db/ventas.csv:/docker-entrypoint-initdb.d/ventas.csv

  app:
    build: .
    volumes:
      - .:/app
    ports:
      - "8501:8501"

    depends_on:
      - db
    env_file:
      - .env

volumes:
  db_data: